<div class="row ">
    <div class="col-md-6 col-sm-6">
        <h1>{{weatherInfo.location.name}}</h1>
        {{weatherInfo.current.condition.text}}<br>
        H:{{weatherInfo.forecast.forecastday[0].day.maxtemp_c | number : '1.0-0'}}<span>&#176;</span>
        L:{{weatherInfo.forecast.forecastday[0].day.mintemp_c | number : '1.0-0'}}<span>&#176;</span><br>
        <h3><strong>{{weatherInfo.location.localtime | date : 'EEEE'}}</strong> Today</h3>
    </div>
    <div class="col-md-6 col-sm-6 text-end">
        <h1 class="texts">{{weatherInfo.current.temp_c | number : '1.0-0'}}<span>&#176;</span></h1>
    </div>
</div>