<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- Send list of cities to pop-up-model-component -->
    <app-pop-up-model [cities]="cities"></app-pop-up-model>
</div>

<div class="container bg-primary text-white" *ngIf="show">
    <!-- Router outlet -->
    <router-outlet></router-outlet>
    <!-- Show weather of previous city in list -->
    <button type="button" class="btn btn-primary" (click)="previousCity()">Previous City</button>
    <!-- Show modal popup for city list and add city -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">City
        List</button>
    <!-- Show weather of next city in list -->
    <button type="button" class="btn btn-primary" (click)="nextCity()">Next City</button>
</div>