<div >
    <app-current [weatherInfo]="weatherInfo"></app-current>
    <hr class="bg-danger border-2 border-top border-danger">
    <app-hours-data [weatherInfo]="weatherInfo"></app-hours-data>
    <hr class="bg-danger border-2 border-top border-danger">
    <div class="row">
        <app-week-data [weatherInfo]="weatherInfo" class="col-md-7 col-sm-7"></app-week-data>
        <app-astro-data [weatherInfo]="weatherInfo" class="col-md-4 col-sm-4"></app-astro-data>
    </div>
    <hr class="bg-danger border-2 border-top border-danger">
    <div class="row">
        <app-air-quality [weatherInfo]="weatherInfo" class="col-md-4 col-sm-4"></app-air-quality>
        <app-uv-index [weatherInfo]="weatherInfo" class="col-md-4 col-sm-4"></app-uv-index>
    </div>
</div>